<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome-free-5.15.3-web/css/all.min.css">

    <title>Health Track</title>
</head>
<body>
    <div class="flex-dashboard">
        <sidebar>
            <div class="sidebar-title">
            <img src="../images/Running3.jpg" alt="">
            
            <h2>Health Track</h2>
            
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <i class="fas fa-home"></i>
                        <a href="#"> Dashboard</a>
                    </li>
                    <li>
                        <i class="fas fa-users"></i>
                        <a href="#">Perfil</a>
                    </li>
                    <li>
                        <i class="fas fa-weight"></i>
                        <a href="#">Lista de Pesos</a>
                    </li>
                    <li>
                        <i class="fas fa-history"></i>
                        <a href="#">Histórico Corridas</a>
                    </li>
                    <li>
                        <i class="fas fa-running"></i>
                        <a href="#">Corridas Personalizadas</a>
                    </li>
                    <li>
                        <i class="fas fa-file-contract"></i>
                        <a href="#">Detalhes Corridas</a>
                    </li>
                    <li>
                        <i class="far fa-chart-bar"></i>
                        <a href="#">Grafico Corridas</a>
                    </li>
                    <li>
                        <i class="fas fa-fire-alt"></i>
                        <a href="#">Gastos Calóricos</a>
                    </li>
                    <li>
                        <i class="fas fa-calculator"></i>
                        <a href="#">Calcular IMC</a>
                    </li>
                </ul>
            </div>
        </sidebar>
        <main>
            <header>
                <a href="#"><i class="fas fa-home"></i>Dashboard</a>
                <a href="#"><i class="fas fa-sign-out-alt"></i>Logout</a>
            </header>
            <div class="main-content">
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus enim vehicula dolor feugiat, nec aliquet orci mollis. Etiam id risus molestie sem feugiat commodo et sit amet elit. Praesent dapibus lorem vitae diam posuere convallis. In sit amet ipsum dui. Donec suscipit ante ex, non interdum nisl suscipit vitae. Duis non dignissim ligula. Nulla consequat quis erat id faucibus. Nam et bibendum dolor. Phasellus vitae est massa. Nulla finibus vel sem in malesuada. Ut sagittis dolor eu purus accumsan ultrices. Sed eleifend dolor non sapien luctus mattis et at est.</p>
                    </div>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus enim vehicula dolor feugiat, nec aliquet orci mollis. Etiam id risus molestie sem feugiat commodo et sit amet elit. Praesent dapibus lorem vitae diam posuere convallis. In sit amet ipsum dui. Donec suscipit ante ex, non interdum nisl suscipit vitae. Duis non dignissim ligula. Nulla consequat quis erat id faucibus. Nam et bibendum dolor. Phasellus vitae est massa. Nulla finibus vel sem in malesuada. Ut sagittis dolor eu purus accumsan ultrices. Sed eleifend dolor non sapien luctus mattis et at est.</p>
                    </div>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus enim vehicula dolor feugiat, nec aliquet orci mollis. Etiam id risus molestie sem feugiat commodo et sit amet elit. Praesent dapibus lorem vitae diam posuere convallis. In sit amet ipsum dui. Donec suscipit ante ex, non interdum nisl suscipit vitae. Duis non dignissim ligula. Nulla consequat quis erat id faucibus. Nam et bibendum dolor. Phasellus vitae est massa. Nulla finibus vel sem in malesuada. Ut sagittis dolor eu purus accumsan ultrices. Sed eleifend dolor non sapien luctus mattis et at est.</p>
                    </div>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus enim vehicula dolor feugiat, nec aliquet orci mollis. Etiam id risus molestie sem feugiat commodo et sit amet elit. Praesent dapibus lorem vitae diam posuere convallis. In sit amet ipsum dui. Donec suscipit ante ex, non interdum nisl suscipit vitae. Duis non dignissim ligula. Nulla consequat quis erat id faucibus. Nam et bibendum dolor. Phasellus vitae est massa. Nulla finibus vel sem in malesuada. Ut sagittis dolor eu purus accumsan ultrices. Sed eleifend dolor non sapien luctus mattis et at est.</p>
                    </div>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus enim vehicula dolor feugiat, nec aliquet orci mollis. Etiam id risus molestie sem feugiat commodo et sit amet elit. Praesent dapibus lorem vitae diam posuere convallis. In sit amet ipsum dui. Donec suscipit ante ex, non interdum nisl suscipit vitae. Duis non dignissim ligula. Nulla consequat quis erat id faucibus. Nam et bibendum dolor. Phasellus vitae est massa. Nulla finibus vel sem in malesuada. Ut sagittis dolor eu purus accumsan ultrices. Sed eleifend dolor non sapien luctus mattis et at est.</p>
                    </div>
                    
            </div>
        </main>
    </div>

<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../plugins/fontawesome-free-5.15.3-web/js/all.min.js"></script>
</body>
</html>